<table class="table" id="item_results">
  <thead>
  <tr>
    <%= "<th>Item</th>" if @item_results[0]["price"] %>
    <th>Store</th>
    <th>Rating</th>
    <th>Distance</th>
    <th>In Stock?</th>
    <th>Open Now?</th>
    <th>Price</th>
    <%= "<th>Quantity</th>" if @item_results[0]["price"] %>
    <% if @item_results[0]["price"] %>
    <th>Update Item</th>
    <% elsif @item_results.length > 1 %>
    <th>Remove Item</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @item_results.each do |item| %>
      <% sales = sale(item["prices"]) %>
      <tr <%= sales.empty? ? "" : "class='success'"%>>
        <% if item["price"] %>
        <td style="cursor:pointer;" onclick="$.post('/set_item/<%= item["id"] %>', function(){ window.location='/item/<%= item["id"]%>' });">
          <strong><%= item["name"] %></strong>
        </td>
        <% end %>
        <td style="cursor:pointer;" onclick="window.location = '/store/<%= item["store_id"] %>/' + (-new Date().getTimezoneOffset());">
          <strong><%= item["store_name"] %></strong>
        </td>
        <td style="min-width: 100px;"><%= render_partial(:rating, {:locals => {:rating => item["rating"]}}) %></td>
        <td><%= "%.2f" % item["distance"] %> miles</td>
        <% if item["in_stock"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% if item["open_now"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% if item["price"] %>
        <td><%= item["price"] %></td>
        <td><input class="input-mini" value="<%= item["quantity_requested"] %>"></td>
        <% else %>
        <td>$<%= item["prices"]["1"] %></td>
        <% end %>
        <% if item["price"] %>
        <td><button class="btn btn-mini btn-primary" data-loading-text="Updating..." btnid="<%= item["id"] %>">Update</button></td>
        <% elsif @item_results.length > 1 %>
        <td><button class="btn btn-mini btn-danger" btnid="<%= item["id"] %>">Remove</button></td>
        <% end %>
      </tr>
      <% if !sales.empty? %>
          <tr class="success">
            <td colspan="9">
              <% sales.each do |i| %>
              <span class="badge badge-success">Sale! <%= i %></span>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>