<% on_cart_page = !@item_results[0]["price"].nil? %>
<table class="table" id="item_results">
  <thead>
  <tr>
    <%= "<th>Item</th>" if on_cart_page %>
    <%= "<th>Store</th>" if !on_cart_page %>
    <th>Rating</th>
    <%= "<th>Distance</th>" if !on_cart_page %>
    <!--<th>In Stock?</th>-->
    <!--<%= "<th>Open Now?</th>" if !on_cart_page %>-->
    <th>Price</th>
    <%= "<th>Quantity</th>" if on_cart_page %>
  </tr>
  </thead>
  <tbody>
  <% @item_results.each do |item| %>
      <% sales = sale(item["prices"]) %>
      <tr <%= sales.empty? ? "" : "class='success'"%>>
        <% if item["price"] %>
        <td>
          <a href="/cart/item/<%= CGI.escape(item["name"])%>?latitude=<%= session["latitude"]%>&longitude=<%= session["longitude"]%>" style="color:#555555;text-decoration:none;"><strong><%= item["name"] %></strong></a>
        </td>
        <% else %>
        <td>
          <a class="tmzOffset" href="/store/<%= item["store_id"] %>/" style="color:#555555;text-decoration:none;"><strong><%= $stores_hash[item["store_id"].to_i]["name"] %></strong></a>
        </td>
        <% end %>
        <td style="min-width: 100px;"><%= render_partial(:rating, {:locals => {:rating => item["rating"]}}) %></td>
        <% if !item["price"] %>
        <td><%= "%.2f" % session["store_distances"][item["store_id"]] %> miles</td>
        <% end %>
        <!--<% if item["in_stock"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% if !item["price"] %>
        <% if item["open_now"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% end %>-->
        <% if item["price"] %>
        <td>$<%= item["price"] %></td>
        <td><label><%= item["quantity_requested"] %></label></td>
        <% else %>
        <td><form onsubmit="update_price(<%= item["id"] %>,<%= item["store_id"] %>);return false;">$<input type="number" min="0.00" step="0.01" store_id="<%= item["store_id"] %>" class="input-mini" value="<%= item["prices"]["1"] %>" style="margin-bottom:0px;"><button type="submit" class="btn btn-mini btn-success">Update</button></form></td>
        <% end %>
      </tr>
      <% if !sales.empty? %>
          <tr class="success">
            <td colspan="9">
              <% sales.each do |i| %>
              <span class="badge badge-success">Sale! <%= i %></span>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<script>
  $("a.tmzOffset").each(function() {
    var _href = $(this).attr("href");
    $(this).attr("href",_href + -new Date().getTimezoneOffset());
  });
</script>