<% on_cart_page = !@item_results[0]["price"].nil? %>
<table class="table" id="item_results">
  <thead>
  <tr>
    <%= "<th>Item</th>" if on_cart_page %>
    <%= "<th>Store</th>" if !on_cart_page %>
    <th>Rating</th>
    <%= "<th>Distance</th>" if !on_cart_page %>
    <th>In Stock?</th>
    <%= "<th>Open Now?</th>" if !on_cart_page %>
    <th>Price</th>
    <%= "<th>Quantity</th>" if on_cart_page %>
    <% if on_cart_page %>
    <th>Update Item</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @item_results.each do |item| %>
      <% sales = sale(item["prices"]) %>
      <tr <%= sales.empty? ? "" : "class='success'"%>>
        <% if item["price"] %>
        <td style="cursor:pointer;" onclick=" window.location='/cart/item/<%= CGI.escape(item["name"])%>?latitude=<%= session["latitude"]%>&longitude=<%= session["longitude"]%>';">
          <strong><%= item["name"] %></strong>
        </td>
        <% else %>
        <td style="cursor:pointer;" onclick="window.location = '/store/<%= item["store_id"] %>/' + (-new Date().getTimezoneOffset());">
          <strong><%= $stores_hash[item["store_id"].to_i]["name"] %></strong>
        </td>
        <% end %>
        <td style="min-width: 100px;"><%= render_partial(:rating, {:locals => {:rating => item["rating"]}}) %></td>
        <% if !item["price"] %>
        <td><%= "%.2f" % session["store_distances"][item["store_id"]] %> miles</td>
        <% end %>
        <% if item["in_stock"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% if !item["price"] %>
        <% if item["open_now"] %>
            <td><span class="badge badge-success">Yes</span></td>
        <% else %>
            <td><span class="badge badge-important">No</span></td>
        <% end %>
        <% end %>
        <% if item["price"] %>
        <td>$<%= item["price"] %></td>
        <td><input class="input-mini" value="<%= item["quantity_requested"] %>"></td>
        <% else %>
        <td>$<%= item["prices"]["1"] %></td>
        <% end %>
        <% if item["price"] %>
        <td><button class="btn btn-mini btn-primary" data-loading-text="Updating..." btnid="<%= item["id"] %>">Update</button></td>
        <% end %>
      </tr>
      <% if !sales.empty? %>
          <tr class="success">
            <td colspan="9">
              <% sales.each do |i| %>
              <span class="badge badge-success">Sale! <%= i %></span>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
