<h2 style="margin-left: 6px;">Reviews</h2>
<% if @reviews && @reviews["result"] && !@reviews["result"].empty? %>
<% if @reviews["result"].select {|review| session["user"] == review["username"]}.empty? %>
<div id="add_review" style="margin-bottom: 20px;" href="/edit/<%= type %>_review/<%= id %>"><button>Add a review</button></div>
<% end %>
<% @reviews["result"].each do |review| %>
  <%= render_partial(:show_review, {:locals => {:review => review, :type => type}}) %>
<% end %>
<% else %>
<div id="no_reviews">No reviews currently written.</div>
<div id="add_review" href="/edit/<%= type %>_review/<%= id %>"><button>Add a review</button></div>
<% end %>