<div class="well sidebar-nav">
  <div class="accordion" id="search_filters_accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#search_filters_accordion" href="#search_filters_distance">
          Distance (mi)
        </a>
      </div>
      <div id="search_filters_distance" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table>
            <tr>
              <td>Max:</td>
              <td><input type="text" id="max_distance" class="input-mini" placeholder="0.00" value="<%= params[:max_distance] %>" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#search_filters_accordion" href="#search_filters_price">
          Price ($)
        </a>
      </div>
      <div id="search_filters_price" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table>
            <tr>
              <td>Min:</td>
              <td>$<input type="text" id="min_price" class="input-mini" placeholder="0.00" value="<%= ("%.2f" % params[:min_price].to_f) if params[:min_price] %>" /></td>
            </tr>
            <tr>
              <td>Max:</td>
              <td>$<input type="text" id="max_price" class="input-mini" placeholder="0.00" value="<%= ("%.2f" % params[:max_price].to_f) if params[:max_price] %>"/></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <% if !@departments.nil? && !@departments["selectable_options"].nil? %>
      <% @departments["selectable_options"].each do |key,vals_arr| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <% safe_key = key.gsub('/','_').gsub(' ','-') %>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#search_filters_accordion" href="#search_filters_<%= safe_key %>">
              <%= key %>
            </a>
          </div>

          <div id="search_filters_<%= safe_key %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <table>
                <% vals_arr.each do |term| %>
                <tr><td>
                  <input type="checkbox" term="<%= term %>" key="<%= key %>" /> <%= term %>
                </td></tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <!--
  <ul class="nav nav-list">
    <li class="nav-header">Distance (mi)</li>
    <li>
      <table>
        <tr>
          <td>Max:</td>
          <td><input type="text" id="max_distance" class="input-mini" placeholder="0.00" value="<%= params[:max_distance] %>" /></td>
        </tr>
      </table>
    </li>
    <li class="nav-header">Price</li>
    <li>
      <table>
        <tr>
          <td>Min:</td>
          <td>$<input type="text" id="min_price" class="input-mini" placeholder="0.00" value="<%= ("%.2f" % params[:min_price].to_f) if params[:min_price] %>" /></td>
        </tr>
        <tr>
          <td>Max:</td>
          <td>$<input type="text" id="max_price" class="input-mini" placeholder="0.00" value="<%= ("%.2f" % params[:max_price].to_f) if params[:max_price] %>"/></td>
        </tr>
      </table>
    </li>

    <% if !@departments.nil? && !@departments["selectable_options"].nil? %>
      <% @departments["selectable_options"].each do |key,vals_arr| %>
        <li class="nav-header"><%= key %></li>
        <% vals_arr.each do |term| %>
        <li>
          <input type="checkbox" term="<%= term %>" key="<%= key %>" /> <%= term %>
        </li>
        <% end %>
      <% end %>
    <% end %>

    <!-- TODO Temporarily disabling these filters
    <li class="nav-header">Open Now</li>
    <li><input type="checkbox" id="open_now" <%= (params[:open_now] == "true") ? "checked" : "" %>> Open now</li>
    <li class="nav-header">In Stock</li>
    <li><input type="checkbox" id="in_stock" <%= (params[:in_stock] == "true") ? "checked" : "" %>> In stock</li> -->
    <li class="nav-header" style="text-transform: capitalize;"><button class="btn btn-link btn-success" id="apply_filters">Apply</button></li>
    <li class="nav-header" style="text-transform: capitalize;"><button class="btn btn-link btn-inverse" id="filter_reset">Reset Filters</button></li>
  </ul>
</div>