<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= render_partial :title %></title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/cerulean.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" style="width: auto;padding-left:10px;padding-right:10px;">
      <div class="nav-collapse in collapse" style="height: auto;">
        <a class="brand" href="/" data-placement="bottom" data-original-title="Set your location"><%= render_partial :title %></a>
        <form class="navbar-search" data-placement="bottom" action="/search" method="get">
          <div class="input-append">
            <input class="search-query span4" type="text" name="search" placeholder="Search for local items" />
            <input id="latitude" name="latitude" type="hidden" value=<%= session["latitude"] %> />
            <input id="longitude" name="longitude" type="hidden" value=<%= session["longitude"] %> />
            <a type="submit" href=""><i class="icon-search"></i></a>
          </div>
        </form>
        <div id="user_bar" class="container-fluid" style="padding-left:0;padding-right:0;">
          <%= render_partial :user_bar %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="domain" type="hidden" value=<%= settings.domain %> />
<input id="query_string" type="hidden" value = <%= session["query_string"] %> />
<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/js/jquery.raty.min.js"></script>
<script src="/js/holder.js"></script>
<script src="/js/global_functions.js"></script>
<div>
  <%= yield %>
</div>
<div id="sign_up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sign_upLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="sign_upLabel">Sign Up</h3>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td><b>Username: </b></td>
        <td><input type="text" id="sign_up_username"></td>
        <td><div id="sign_up_username_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>Email: </b></td>
        <td><input type="email" id="sign_up_email"></td>
        <td><div id="sign_up_email_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>Password: </b></td>
        <td><input type="password" id="sign_up_password"></td>
        <td><div id="sign_up_password_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="sign_up_submit">Create Account</button>
  </div>
</div>
<div class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true">
  <div id="modalAlertHeader" class="modal-header"></div>
  <div id="modalAlertBody" class="modal-body"></div>
  <div id="modalAlertFooter" class="modal-footer"></div>
</div>
<%= render_partial :feedback %>
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="/js/app.js"></script>
<script src="/js/jquery.ui.addresspicker.js"></script>
</body>
</html>
