<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="utf-8">
  <title><%= render_partial :title %></title>
  <meta name="keywords" content="shopping, trip, products, cheapest, closest, nowcado" />
  <meta name="description" content="Save time and money on each of your local shopping trips with Nowcado!  Join others to create your list and discover your personalized trip within seconds."/>
  <meta property="og:title" content="Nowcado Local Shopping Trip Advisor" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://nowcado.com" />
  <meta property="og:image" content="http://nowcado.com/favicon.ico" />
  <meta property="og:description" content="Save time and money on each of your local shopping trips with Nowcado!  Join others to create your list and discover your personalized trip within seconds." />
  <meta property="og:determiner" content="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Nowcado" />
  <%= css :application %>
  <%= js :head_js %>
</head>

<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" style="width: auto;padding-left:10px;padding-right:10px;">
      <div class="nav-collapse in collapse" style="height: auto;">
        <a class="brand" href="/" data-placement="bottom" data-original-title="Set your location">Nowcado<!--<%= render_partial :title %>--></a>
        <form class="navbar-search" data-placement="bottom" action="/search" method="get">
          <div class="input-append">
            <input id="search-text" class="search-query span4" type="text" name="search" placeholder="Search for local items"  <%= params[:search] ? ("value=\"" + params[:search] + "\"") : "" %> />
            <input id="latitude" name="latitude" type="hidden" value=<%= session["latitude"] %> />
            <input id="longitude" name="longitude" type="hidden" value=<%= session["longitude"] %> />
            <a type="submit" href=""><i class="icon-search"></i></a>
            <a id="browse" style="cursor:pointer;padding-bottom:20px" data-placement="bottom" data-original-title="Browse items by tag"><i class="icon-tag icon-white"></i></a>
          </div>
        </form>
        <div id="user_bar" class="container-fluid" style="padding-left:0;padding-right:0;">
          <%= render_partial :user_bar %>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="domain" type="hidden" value=<%= settings.domain %> />
<input id="query_string" type="hidden" value=<%= session["query_string"] %> />
<input id="extras" type="hidden" value="<%= @extras.to_json.gsub(/"/,"&quot;") %>" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= js :pre_app %>

<div>
  <%= yield %>
</div>

<div>
<ul class="breadcrumb" style="text-align:center">
    <li><a href="/about">About</a> <span class="divider">|</span></li>
    <li><a href="http://blog.nowcado.com">Blog</a> <span class="divider">|</span></li>
    <li><a href="/privacy">Privacy Policy</a> <span class="divider">|</span></li>
    <li><a href="/tos">Terms of Service</a></li>
    <br />
    <li><div class="addthis_toolbox addthis_32x32_style addthis_default_style">
    <a class="addthis_button_rss_follow" addthis:userid="http://blog.nowcado.com"></a>
    <a class="addthis_button_facebook_follow" addthis:userid="nowcado"></a>
    <a class="addthis_button_twitter_follow" addthis:userid="nowcado"></a>
    <a class="addthis_button_pinterest_follow" addthis:userid="nowcado"></a>
    </div>
    </li>
</ul>
</div>

<!--
<div style="width:108px;margin: 0 auto;text-align:center;">
<p>Follow Us</p>
  <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
    <a class="addthis_button_facebook_follow" addthis:userid="nowcado"></a>
    <a class="addthis_button_twitter_follow" addthis:userid="nowcado"></a>
    <a class="addthis_button_rss_follow" addthis:userid="http://blog.nowcado.com"></a>
  </div>
</div>-->


<div id="sign_in" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sign_inLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="sign_inLabel">Sign In</h3>
  </div>
  <div class="modal-body">
    <h4>Automatic Sign In Options</h4>
    <ul style="list-style: none;">
      <li style="text-align: center;vertical-align: middle;">
        <div id="facebook_login_icon" style="cursor:pointer;margin-right:20px;vertical-align: middle;display:inline-block;" data-size="large" data-placement="bottom" data-original-title="Login with Facebook credentials"></div>
        <div id="google_login_icon" style="cursor:pointer;width:112px;height:31px;vertical-align:middle;display:inline-block;" data-placement="bottom" data-original-title="Login with Google credentials">
          <div tabindex="0" role="button" class="outerGoogleLoginDiv">
            <div class="innerGoogleLoginIcon"></div><div class="innerGoogleLoginText">Sign in</div>
          </div>
        </div>
      </li>
    </ul>

    <h4>Manual Sign In Options</h4>
    <ul style="list-style: none;">
      <li>
        <form id="sign-in-form" class="navbar-form" data-placement="bottom">
          <input class="input-small span2" type="text" placeholder="Email">
          <input class="input-small" type="password" placeholder="Password">
          <button class="btn" style="margin-top:10px" type="submit">Sign In</button>
        </form>
        <div id="sign_in_error" class="alert alert-error" style="display: none;"></div>
      </li>
      <li>
        <a href="#" id="forgot_password_link">Forgot your password?</a>
      </li>
      <br />
      <li>
        <a href="#sign_up" role="button" data-dismiss="modal" data-toggle="modal"><button class="btn btn-primary" style="">Sign Up</button></a>
      </li>
    </ul>
  </div>
</div>

<div id="sign_up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sign_upLabel" aria-hidden="true" style="z-index:5000;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="sign_upLabel">Sign Up</h3>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td><b>Username: </b></td>
        <td><input type="text" id="sign_up_username"></td>
        <td><div id="sign_up_username_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>Email: </b></td>
        <td><input type="email" id="sign_up_email"></td>
        <td><div id="sign_up_email_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>Password: </b></td>
        <td><input type="password" id="sign_up_password"></td>
        <td><div id="sign_up_password_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="sign_up_submit">Create Account</button>
  </div>
</div>
<div id="edit_account" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit_accountLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="edit_accountLabel">Edit Account</h3>
  </div>
  <div class="modal-body">
    <div style="text-align:center;">Note: Blank fields are not updated</div>
    <table>
      <tr>
        <td><b>Username: </b></td>
        <td><input type="text" id="edit_account_username" placeholder="<%= session["user"] %>" value="<%= session["user"] %>"></td>
        <td><div id="edit_account_username_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
       <tr>
        <td><b>Email: </b></td>
        <td><input type="email" id="edit_account_email" placeholder="<%= session["email"] %>" value="<%= session["email"] %>"></td>
        <td><div id="edit_account_email_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>New Password: </b></td>
        <td><input type="password" id="edit_account_password"></td>
        <td><div id="edit_account_password_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
      <tr>
        <td><b>Confirm New Password: </b></td>
        <td><input type="password" id="edit_account_password_confirm"></td>
        <td><div id="edit_account_password_confirm_error" class="alert alert-error" style="display: none;"></div></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit_account_submit">Edit Account</button>
  </div>
</div>

<div class="modal hide fade" tabindex="1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
  <div id="modalAlertHeader" class="modal-header"></div>
  <div id="modalAlertBody" class="modal-body"></div>
  <div id="modalAlertFooter" class="modal-footer"></div>
</div>
<%= render_partial :feedback %>
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script src='https://apis.google.com/js/client:plusone.js'></script>
<%= js :post_app %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5396059925486863"></script>
</body>
</html>
