<% if @cart_error %>
<div id="cart_alert" class="alert alert-info"><%= @cart_error %></div>
<% else %>

<h2>Shopping Trip</h2>

<div id="cart_email_message" class="alert" style="display:none;"></div>
<div class="clearfix"></div>
<a data-toggle="modal" role="button" href="#cart_preferences" class="btn btn-primary btn-success">Set trip preferences</a>
<button class="btn btn-primary" id="email_trip">Email Trip</button>
<div id="cart_preferences" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cart_preferencesLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="cart_preferencesLabel">Set your trip preferences</h3>
  </div>
  <div class="modal-body">
    <p>Please enter your preferences for each of the following so that we can determine which items are best for you. An empty section indicates that you have no preference.</p>
    <p>If we cannot meet all of your criteria, we will provide the closest possible match.</p>
    <table>
      <tr>
        <td><b>Maximum total distance (miles) you would like to travel: </b></td>
        <td><input type="text" id="cart_preferences_max_distance" class="input-mini" value="<%= @cart["max_distance"] %>"></td>
      </tr>
      <tr>
        <td><b>Maximum number of stores you would like to visit: </b></td>
        <td><input type="text" id="cart_preferences_max_stores" class="input-mini" value="<%= @cart["max_stores"] %>"></td>
      </tr>
      <tr>
        <td><b>Minimum rating you would like an item to have (0-5): </b></td>
        <td><input type="text" id="cart_preferences_min_rating" class="input-mini" value="<%= @cart["min_rating"] %>"></td>
      </tr>
      <tr>
        <td><b>Rank the following from most to least important to you: </b></td>
      </tr>
    </table>
    <ul id="cart_preferences_ranking" class="nav">
      <% if !@cart["sort"] %>
        <%= render_partial(:cart_preferences_sort, {:locals => {:attribute => "price", :num_options => 3}}) %>
        <%= render_partial(:cart_preferences_sort, {:locals => {:attribute => "distance", :num_options => 3}}) %>
        <%= render_partial(:cart_preferences_sort, {:locals => {:attribute => "rating", :num_options => 3}}) %>
      <% else %>
        <% @cart["sort"].each do |sort| %>
        <%= render_partial(:cart_preferences_sort, {:locals => {:attribute => sort, :num_options => @cart["sort"].length}}) %>
      <% end %>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="cart_preferences_submit">Save Preferences</button>
  </div>
</div>
<br /><br />
<p>The best way to shop at these stores is by visiting them in this order:</p>
<!-- Loop over the stores and print a item_results_table for the items obtained from each. -->
<% @cart["path"].each do |store| %>
  <span style="cursor:pointer;display:inline-block;" onclick="window.location = '/store/<%= store["id"] %>/' + (-new Date().getTimezoneOffset());"><h4>
    <%= store["name"] %>
    <!--<% if store["items"][0]["open_now"] %>
        <span class="badge badge-success" style="line-height:inherit;vertical-align:text-top;">Open Now</span>
    <% else %>
        <span class="badge badge-important" style="line-height:inherit;vertical-align:text-top;">Not Open Now</span>
    <% end %>-->
  </h4></span>
  <div>
    <% @item_results = store["items"] %>
    <%= render_partial(:item_results_table) %>
  </div>
<% end %>

<div><strong>Total Price: $<%= @cart["overall_price"] %></strong></div>

<p>Directions for this trip are provided below.</p>

<div>
  <strong>Mode of Travel:</strong>
  <select id="mode" onchange="calc_route();">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
  </select>
</div>

<div id="directions_div">
  <div id="directions_map" style="float: left; width:70%;height: 100%;"></div>
  <div id="directions_text" style="float: right; width:30%;height: 100%;"></div>
</div>

<script>
  // Directions functionality
  var directions_display;
  var directions_service = new google.maps.DirectionsService();
  var directions_map;
  var user_loc = new google.maps.LatLng(<%= session[:latitude] %>,<%= session[:longitude] %>);
  var waypts = [];
  <% @cart["path"].each do |store| %>
  waypts.push({
    location:new google.maps.LatLng(<%= store["latitude"] %>,<%= store["longitude"] %>),
    stopover:true
  });
  <% end %>
  var last_waypt = waypts.splice(waypts.length-1, 1)[0].location;

  function initialize() {
    directions_display = new google.maps.DirectionsRenderer();
    var map_options = {
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: user_loc
    };
    directions_map = new google.maps.Map(document.getElementById("directions_map"),map_options);
    directions_display.setMap(directions_map);
    directions_display.setPanel(document.getElementById("directions_text"));
  }

  function calc_route() {
    var selected_mode = document.getElementById("mode").value;
    var request = {
      origin: user_loc,
      destination: last_waypt,
      waypoints: waypts,
      optimizeWaypoints: false,
      travelMode: google.maps.TravelMode[selected_mode]
    };
    directions_service.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directions_display.setDirections(response);
      }
    });
  }
  initialize();
  calc_route();
</script>

<% end %>

<%= js :cart %>