<legend><h2><%= cap_words(@item_results[0]["name"]) %></h2></legend>
<div class="row" style="margin-bottom: 20px;">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="pull-left">
      <div class="thumbnail" style="margin-bottom: 20px;width: 177px">
        <% img_valid = !@item_results[0]["img_url"].nil? %>
        <% image= img_valid ? "src=\"#{@item_results[0]["img_url"]}\"" : "data-src=\"holder.js/200x200\"" %>
        <a href="<%= img_valid ? image[(image.index("src=\"")+5)..(-2)] : "#" %>"><img <%= image %> style="height:200px;"></a>
      </div>
      <% if session[:error] %>
      <label class="label label-warning"><%= show_flash(:error) %></label>
      <% end %>
    </div>

    <div class="span9">
      <% if session["user"] %>
      <div class="alert alert-success" id="add_item_alert" style="display: none;">
        <span id="qty_confirm_text"></span> x <%= @item_results[0]["name"] %> in your cart!
      </div>
      <div class="alert alert-error" id="add_item_fail" style="display: none;"></div>
      <div class="pull-left">
        <form id="add_item_qty_to_cart" action="" class="form-inline" method="">
          Qty: <input type="text" id="add_qty" class="input-small" name="quantity">
          <input type="hidden" id="add_item" name="items" value="<%= @item_results[0]["id"] %>">
          <button class="btn" type="submit">Add to cart</button>
        </form>
      </div>
      <% end %>
      <div>
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
              <% ["Price","Rating","Distance"].each do |type| %>
              <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <%= render_partial(:item_results_table) %>
      <%= render_partial(:similar_items) %>

      <div class="container-fluid">
        <%= render_partial(:reviews, {:locals => {:type => "item", :id => @item_results[0]["id"]}}) %>
      </div>
    </div>
  </div>
</div>

<script src="/js/item.js"></script>
<script src="/js/search.js"></script>
<script src="/js/review.js"></script>
