<legend><h2><%= cap_words(@item_results[0]["name"]) %></h2></legend>
<div class="row" style="margin-bottom: 20px;">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="pull-left">
      <div class="thumbnail" style="margin-bottom: 20px;width: 177px">
        <% image=!@item_results[0]["img_url"].nil? ? @item_results[0]["img_url"] : "holder.js/200x200" %>
        <img src="<%= image %>" style="height:200px;">
        <a style="margin-left:65px;" href="<%= image %>">Source</a>
      </div>
      <% if session[:error] %>
      <label class="label label-warning"><%= show_flash(:error) %></label>
      <% end %>
      <%= render_partial(:search_filter) %>
    </div>

    <div class="span9">
      <% if session["user"] %>
      <div class="pull-left">
        <form action="/cart" class="form-inline" method="post">
          Qty: <input type="text" class="input-small" name="quantity">
          <input type="hidden" name="items" value="<%= @item_results.map{|result| result["id"]} %>">
          <button class="btn" type="submit">Add to cart</button>
        </form>
      </div>
      <% end %>
      <div>
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
              <% ["Price","Rating","Distance"].each do |type| %>
              <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <%= render_partial(:item_results_table) %>
      <%= render_partial(:similar_items) %>

      <div class="container-fluid">
        <%= render_partial(:reviews, {:locals => {:type => "item", :id => @item_results[0]["id"]}}) %>
      </div>
    </div>
  </div>
</div>

<input id="item_ids" type="hidden" value ="<%= session["item_ids"].join("/") %>" />

<script src="/js/item.js"></script>
<script src="/js/search.js"></script>
<script src="/js/review.js"></script>