<ul class="inline">
  <li class="pull-left">
    <legend><h2><%= cap_words(@item_results[0]["result"]["name"]) %></h2></legend>
  </li>
  <li class="pull-right">
    <form action="/cart" class="form-inline">
      Qty: <input type="text" class="input-small">
      <button class="btn" type="submit">Add to cart</button>
    </form>
  </li>
</ul>

<table class="table" id="item_results">
  <thead>
    <tr>
      <th>Store</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Distance</th>
      <th>In Stock?</th>
      <th>Open Now?</th>
      <% if @item_results.length > 1 %>
      <th>Remove Item</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @item_results.each do |item| %>
    <% sales = sale(item["result"]["prices"]) %>
    <tr <%= sales.empty? ? "" : "class='success'"%>>
      <td><strong><%= item["result"]["store_name"] %></strong></td>
      <td>$<%= item["result"]["prices"]["1"] %></td>
      <td><%= erb :rating, :locals => {:rating => item["result"]["rating"]}, :layout => false %></td>
      <td><%= "%.2f" % item["result"]["distance"] %> miles</td>
      <% if item["result"]["quantity"] > 0 %>
      <td><span class="badge badge-success">Yes</span></td>
      <% else %>
      <td><span class="badge badge-important">No</span></td>
      <% end %>
      <% if item["result"]["open_now"] %>
      <td><span class="badge badge-success">Yes</span></td>
      <% else %>
      <td><span class="badge badge-important">No</span></td>
      <% end %>
      <% if @item_results.length > 1 %>
      <td><button class="btn btn-mini btn-danger" btnid="<%= item["result"]["id"] %>">Remove</button></td>
      <% end %>
    </tr>
    <% sales.each do |i| %>
    <tr class="success">
      <td colspan="7"><span class="badge badge-success">Sale! <%= i %></span></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= erb :similar_items, :layout => false %>

<script src="/js/item.js"></script>