<div id="alternatives" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="alternativesLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="alternativesLabel">Alternatives</h3>
  </div>
  <div class="modal-body">
    <div>Select items you would be willing to swap for <%= @item_results[0]["name"] %></div>
    <% if @similar_results.nil? || @similar_results.length == 0 %>
      <div id="no_alternatives"></div>
    <% else %>
    <ul class="thumbnails">
      <% @similar_results.to_enum.with_index(0).each do |result, i| %>
        <%= render_partial(:show_alternative_item, {:locals => {:id => result["id"], :name => result["name"], :img_url => result["img_url"],
                                                    :rating =>(result["rating"])}}) %>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="alternatives_apply">Apply</button>
  </div>
</div>

<legend><h2 id="item_name"><%= cap_words(@item_results[0]["name"]) %></h2></legend>
<div class="row" style="margin-bottom: 20px;">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="pull-left">
      <div class="thumbnail" style="margin-bottom: 20px;width: 200px">
        <% img_valid = !@item_results[0]["img_url"].nil? %>
        <% image= img_valid ? "src=\"#{settings.domain}#{@item_results[0]["img_url"]}\"" : "data-src=\"holder.js/200x200\"" %>
        <a href="<%= img_valid ? image[(image.index("src=\"")+5)..(-2)] : "#" %>"><img <%= image %> style="max-width:200px;height:200px;margin-left:auto;margin-right:auto;display:block;"></a>
      </div>
      <% if session[:error] %>
      <label class="label label-warning"><%= show_flash(:error) %></label>
      <% end %>
    </div>

    <div class="span9">
      <% if true %>
      <div class="alert alert-success" id="add_item_alert" style="display: none;">
        <span id="qty_confirm_text"></span> x <%= @item_results[0]["name"] %> in your cart!
      </div>
      <div class="alert alert-error" id="add_item_fail" style="display: none;"></div>
      <div class="pull-left">
        <form id="add_item_qty_to_cart" action="" class="form-inline" method="">
          Qty: <input type="text" id="add_qty" class="input-small" name="quantity">
          <input type="hidden" id="add_item" name="items" value="<%= @item_results[0]["id"] %>">
          <button class="btn" type="submit">Add to cart</button>
        </form>
      </div>
      <% end %>
      <div>
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
              <% ["Price","Rating","Distance"].each do |type| %>
              <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <%= render_partial(:item_results_table) %>
      <%= render_partial(:similar_items) %>

      <div class="container-fluid">
        <%= render_partial(:reviews, {:locals => {:type => "item", :id => @item_results[0]["id"]}}) %>
      </div>
    </div>
  </div>
</div>

<%= js :item %>