<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= erb :search_filter, :layout => false %>
    </div>
    <div class="span9">
      <ul class="nav nav-pills pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
            <% ["Relevancy","Price","Rating","Distance"].each do |type| %>
            <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Results Per Page<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="per_page">
            <% [12,24,36,48].each do |pages| %>
            <li><a href="#" id="<%= pages %>" value="per_page"><%= pages %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <div class="span12">
      <% @search_results["results"].to_enum.with_index(0).each do |result, i| %>
        <% matched_items = @search_results["matched_items"].assoc(result["id"].to_i).join("/") %>
        <% if i%3 == 0 %>
        <ul class="thumbnails">
        <% end %>
          <li class="span4">
            <%= erb :show_item, :locals => {:matched_items => matched_items, :name => result["name"], :img_url => result["img_url"],
                                            :rating => result["rating"], :min_price => @search_results["price_ranges"][result["name"]]["min"],
                                            :max_price => @search_results["price_ranges"][result["name"]]["max"]}, :layout => false %>
          </li>
        <% if i%3 == 2 || i == @search_results["results"].length-1 %>
        </ul>
        <% end %>
      <% end %>
      </div>

      <div class="pagination pagination-centered">
        <ul>
          <% (1..@search_results["pages"].to_i).each do |page| %>
              <% if @search_results["page"].to_i == page %>
                  <li class="active">
                    <span><%= page %></span>
                  </li>
              <% else %>
                  <li>
                    <a href="" id="<%= page %>" value="page"><%= page %></a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/js/search.js"></script>