<div class="container-fluid">
  <div class="row-fluid">
    <div class="pull-left" id="search_filter_div">
      <%= render_partial(:search_filter) %>
    </div>
    <div class="span12" style="margin-left:0;">
      <ul class="nav nav-pills pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
            <% ["Relevancy","Price","Rating","Distance"].each do |type| %>
            <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Results Per Page<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="per_page">
            <% [12,24,36,48].each do |pages| %>
            <li><a href="#" id="<%= pages %>" value="per_page"><%= pages %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <div class="span12" style="margin-left:0;">
        <% if @search_results["results"].nil? || @search_results["results"].empty? %>
          <div class="alert alert-info">Sorry, we couldn't find what you were looking for. Please try a different search term or <a href="/item/add">adding data to Nowcado.</a></div>
        <% else %>
          <ul class="thumbnails">
  
          <% @search_results["results"].to_enum.with_index(0).each do |result, i| %>
              <%= render_partial(:show_item, {:locals => {:id => result["_id"], :store_ids => result["children_results"].map{|c| c["store_id"]},
                                              :name => result["name"], :img_url => result["img_url"],
                                              :rating =>(result["distinct"].nil? ? result["children_results"][0]["rating"] : nil),
                                              :min_price => result["price_range"]["min"],
                                              :max_price => result["price_range"]["max"]}}) %>
          <% end %>
          </ul>
        <% end %>
      </div>

      <div class="span12 pagination pagination-centered" style="margin-left: 0;">
        <ul>
          <!-- This math corresponds to pages ranging from -5 to +4, handling edge cases -->
          <% cur_page = @search_results["page"].to_i %>
          <% total_pages = @search_results["pages"].to_i %>
          <% start_page = (cur_page < 6) ? 1 : (cur_page - 5) %>
          <% end_page = start_page + 9 %>
          <% end_page = total_pages if (total_pages < end_page) %>
          <% diff = start_page - end_page + 9 %>
          <% start_page -= diff if (start_page > diff) %>
          
          <% if start_page > 1 %>
            <li><span>...</span></li>
          <% end %>
          <% (start_page..end_page).each do |page| %>
            <% if cur_page == page %>
                <li class="active">
                  <span><%= page %></span>
                </li>
            <% else %>
                <li>
                  <a href="" id="<%= page %>" value="page"><%= page %></a>
                </li>
            <% end %>
          <% end %>
          <% if end_page < total_pages %>
            <li><span>...</span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="applied_filters" sha="<%= @applied_filters %>"></div>
<%= js :search %>