<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <% @search_results["facets"].each do |facet| %>
              <% if facet[1]["_type"] == "terms" %>
                  <li class="nav-header"><%= facet[0] %></li>
                  <% facet[1]["terms"].each do |term| %>
                      <li>
                        <input type="checkbox" id="<%= term["term"].capitalize %>" facet="<%= facet[0].capitalize %>" <%= (params[facet[0].downcase + "_" + term["term"]] == "true") ? "checked" : "" %>/> <%= term["term"].capitalize %> (<%= term["count"].to_s %>)
                      </li>
                  <% end %>
              <% elsif facet[1]["_type"] == "geo_distance" %>
                  <li class="nav-header"><%= "Max Distance" %></li>
                  <% facet[1]["ranges"].each do |range| %>
                      <li>
                        <% context_string = " mile" %>
                        <% to_string = range["to"].to_i.to_s %>
                        <% if !(to_string.include? "1") %>
                            <% context_string += "s" %>
                        <% end %>
                        <a href="" id="<%= to_string %>" value="max_distance" facet="<%= facet[0].capitalize %>"><%= to_string + context_string + " (" + range["total_count"].to_s + ")"  %></a>
                      </li>
                  <% end %>
              <% else %>
                  <li class="nav-header"><%= "Min Rating" %></li>

                  <% facet[1]["ranges"].each do |range| %>
                      <li>
                        <% rating = (range["from"].to_s == "" ? 1 : range["from"].to_i) %>
                        <input type="radio" name="rating" id="<%= rating %>" value="min_rating" <%= (params[:min_rating].to_i == rating) ? "checked" : "" %>>
                        <%= erb :rating, :locals => {:rating => rating}, :layout => false %>
                        (<%= range["total_count"].to_s %>)
                      </li>
                  <% end %>

              <% end %>
          <% end %>
          <li class="nav-header">Price</li>
          <li>
            <table>
              <tr>
                <td>Min:</td>
                <td>$<input type="text" id="min_price" class="input-mini" placeholder="0.00" value="<%= params[:min_price] %>" /></td>
              </tr>
              <tr>
                <td>Max:</td>
                <td>$<input type="text" id="max_price" class="input-mini" value="<%= params[:max_price] %>"/></td>
              </tr>
              <tr>
                <td><button class="btn btn-mini btn-success btn-link" id="price_filter">Update</button></td>
              </tr>
            </table>
          </li>
          <li class="nav-header">Open Now</li>
          <li><input type="checkbox" id="open_now" <%= (params[:open_now] == "true") ? "checked" : "" %>> Open now</li>
          <li class="nav-header">In Stock</li>
          <li><input type="checkbox" id="in_stock" <%= (params[:in_stock] == "true") ? "checked" : "" %>> In stock</li>
          <li class="nav-header" style="text-transform: capitalize;"><button class="btn btn-link btn-inverse" id="filter_reset">Reset Filters</button></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <ul class="nav nav-pills pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="sort_by">
            <% ["Relevancy","Distance","Rating","Price"].each do |type| %>
            <li><a href="#" id="<%= type %>" value="sort"><%= type %></a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Results Per Page<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="per_page">
            <% [10,20,30,40,50].each do |pages| %>
            <li><a href="#" id="<%= pages %>" value="per_page"><%= pages %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Item</th>
          <th>Min Price</th>
          <th>Max Price</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <% @search_results["results"].each do |result| %>
            <tr>
              <td><%= result["name"] %></td>
              <td>$<%= @search_results["price_ranges"][result["name"]]["min"] %></td>
              <td>$<%= @search_results["price_ranges"][result["name"]]["max"] %></td>
              <% rating = result["rating"] %>
              <td>
                <% if rating.to_s == "" %>
                    <% 5.times do %>
                        <i class="icon-star icon-white"></i>
                    <% end %>
                <% else %>
                    <%= erb :rating, :locals => {:rating => rating}, :layout => false %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="pagination pagination-centered">
        <ul>
          <% (1..@search_results["pages"].to_i).each do |page| %>
              <% if @search_results["page"].to_i == page %>
                  <li class="active">
                    <span><%= page %></span>
                  </li>
              <% else %>
                  <li>
                    <a href="" id="<%= page %>" value="page"><%= page %></a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<input id="query_string" type="hidden" value = <%= session["query_string"] %> />

<script src="/js/search.js"></script>