<% @user = {} if @user.nil? %>
<div class="container-fluid userText">
  <h2>Welcome back, <%= @user["username"] %></h2>
  <div class="userNomsRow" style="margin-bottom: 3px;"><div class="userNomsLabel">Invite Code: </div><button class="btn btn-primary userText" id="invite_button"><%= @user["sign_up_token"] %></button></div>
  <span>Invites Remaining: <%= @user["sign_up_token_ct"] %></span>
  <div class="userNomsRow"><div class="userNomsIcon"></div><span class="userNomsLabel">Noms: <b><%= @user["noms"] %></b></span></div>
  <p>Rank: <%= @user["rank_name"] %></p>
  <input id="rank" type="hidden" value = <%= @user["rank"] %> />
  <!-- Ranks display with images and progress bar -->
  <span class="rank_imgs">
    <span class="rankSquare"><div class="rank1Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 1 %>">Newbie</span></span>
    <span class="rankSquare"><div class="rank2Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 2 %>">Nibbler</span></span>
    <span class="rankSquare"><div class="rank3Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 3 %>">Natural</span></span>
    <span class="rankSquare"><div class="rank4Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 4 %>">kNight</span></span>
    <span class="rankSquare"><div class="rank5Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 5 %>">Nobility</span></span>
    <span class="rankSquare"><div class="rank6Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 6 %>">Ninja</span></span>
    <span class="rankSquare"><div class="rank7Icon"></div><span class="rank_caption <%= "disabledText" if @user['rank'] < 7 %>">Narwhal</span></span>
  </span>
  <div class="section skills">
    <div id="rank_bar" class="column"> </div>
  </div>
  <p>Noms needed to rank up: <%= @user["noms_needed"] %></p>
  
  <button class="btn btn-primary userText" id="leaderboard_button">Leaderboard</button>
  <button class="btn btn-success userText" id="edit_account_link" href="#edit_account" role="button" data-toggle="modal">Edit Account</button>
</div>

<%= js :user %>
